*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
h1 {
  text-align: center;
}
#table {
  min-width: 480px;
}

#table #top-div{
  position: relative;
  width: 100%;
  height: 300px;
  background: #799E35;

}

#table #top-div #dealer-box {
  position: absolute;
  width: 45%;
  height: 100%;
  border: 2px dashed black;

}

#table #bottom-div {
  position: relative;
  width: 100%;
  height: 300px;
  background: #799E35;
}

#table #bottom-div #player-box {
  position: absolute;
  width: 45%;
  height: 100%;
  border: 2px dashed black;
}

#table #bottom-div #button-box {
  position: absolute;
  display: inline;
  width: 25%;
  height: 300px;
  left: 45%;
  background: #799E35;
  border: 2px dashed red;
}
#table #top-div #score-card{
  position: absolute;
  display: inline;
  width: 25%;
  height: 300px;
  left: 45%;
  background: #799E35;
  border: 2px dashed red;
}

button {
  display: inline-block;
  width: 120px;
  min-width: 120px;
  font-size: 1.2em;
  margin-bottom: 10%;
  overflow: inherit;
}
img {
  width: 20%;
  height: 25%;
}
